include LICENSE
include LICENSE_NOTES.md
recursive-include LICENSES
recursive-include cmake *
recursive-include tools *
include VERSION_NUMBER
include CMakeLists.txt
include requirements.txt
include requirements-reference.txt
include backend.py
